@font-face {
  font-family: 'armalite';
  src: url('/font/armalite.ttf');
}

@font-face {
  font-family: 'BlackOpsOne-Regular';
  src: url('/font/BlackOpsOne-Regular.ttf');
}

@font-face {
  font-family: 'CamouflageD';
  src: url('/font/CamouflageD.ttf');
}

@font-face {
  font-family: 'CamouflageW';
  src: url('/font/CamouflageW.ttf');
}

@font-face {
  font-family: 'octin-vintage-b-rg';
  src: url('/font/octin-vintage-b-rg.otf') format("opentype");
}

@font-face {
  font-family: 'sector-017';
  src: url('/font/sector-017.ttf');
}

body a {
  text-decoration: initial;
}

table.map-creator-grid {
  border-spacing: 0;
  border-collapse: collapse;
  font-weight: bold;
  text-align: center;
  table-layout: fixed;
  position: absolute;
  top: 0px;
  pointer-events: none;
}

table.map-creator-grid th,
table.map-creator-grid td {
  overflow: hidden;
  box-sizing: content-box;
}

table.map-creator-grid .map-grid-element-container {
  display: block;
  margin: 0px;
  padding: 0px;
  line-height: 0;
  position: relative;
}

table.map-creator-grid .map-grid-element-container .map-grid-element-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.map-creator-from-map-load-map-info-form {
  margin-bottom: 15px;
}

.map-creator-map-creator-controls .ol-geocoder.gcd-txt-container {
  left: initial;
  position: initial;
  top: initial;
  height: initial;
}

.map-creator-map-creator-controls .ol-geocoder ul.gcd-txt-result {
  left: initial;
  position: initial;
  top: initial;
}

body.dark .map-creator-map-creator-controls .ol-geocoder input {
  background-color: #333333;
  color: #ffffff;
  border-color: #666666;
}

body.dark .map-creator-map-creator-controls .ol-geocoder input::placeholder {
  color: #aaaaaa;
}

.map-creator-map-creator-map-container .ol-tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.8;
  white-space: nowrap;
  font-size: 12px;
  cursor: default;
  user-select: none;
}

.map-creator-map-creator-map-container .ol-tooltip-measure {
  opacity: 1;
  font-weight: bold;
}

.map-creator-map-creator-map-container .ol-tooltip-static {
  background-color: #ffcc33;
  opacity: 0.8;
  color: black;
  font-weight: bold;
  border: 1px solid white;
}

.map-creator-map-creator-map-container .ol-tooltip-measure:before,
.map-creator-map-creator-map-container .ol-tooltip-static:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}

body.dark {
  background-color: #000000;
  color: #ffffff;
}

body.dark .border-bottom {
  border-color: #444444 !important;
}

.map-creator-map-creator-map-container .ol-tooltip-static:before {
  border-top-color: #ffcc33;
}
